<body>
    <!-- Inicia el container, tiene el estilo dependiente -->
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-in-form">
                    <h2 class="title">Ingresar</h2>
                    <div class="input-field">
                        <i class="far fa-user"></i>
                        <input type="text" placeholder="Usuario" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Contraseña" />
                    </div>
                    <input type="submit" value="Entrar" class="btn solid" />
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Sistema Wisp Mega Conexion Internet</h3>
                    <p>
                        Para administrar los usuarios, inventario y manejo de dinero
                    </p>
                </div>
                <img src="../../../assets/images/login.svg" class="image" alt="" />
            </div>
        </div>
    </div>